language: php
sudo: false
php:
  - '7.0.10'

# services:
#   - mysql

# env:
#   - SYMFONY_VERSION="3.4.*" DB=mysql

install:
  - cd api
  - composer install
  - php bin/console doctrine:database:create
  - php bin/console doctrine:schema:create
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:schema:create --env=test